{namespace allplan = Allplan\AllplanTemplate\ViewHelpers}
<!--
	=====================
	Partials/Filters/Checkbox.html
-->

    <legend>{filter.title}</legend>
    <div class="checkbox" id="ke-events_filter_tags_{filter.id}">
        <f:for each="{filter.checkboxOptions}" as="option">
            <label>
                <input type="checkbox" name="{filter.name}[{option.key}]" id="{option.id}" value="{option.tag}" {f:if(condition: '{option.selected}', then: ' checked="checked"')} />{option.title}<f:if condition="{option.results}"><f:if condition="{filter.shownumberofresults}"> ({option.results})</f:if></f:if>
            </label>
        </f:for>
    </div>
